@model IEnumerable<Conferences.ConferencesAndParticipant>

@{
    ViewData["Title"] = "Index";
}

<h1>Конференції та учасники</h1>

<p>
    <a asp-action="Create">Створити запис</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Conference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Participant)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Conference.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Participant.FullName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ConferenceAndParticipantId">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.ConferenceAndParticipantId">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.ConferenceAndParticipantId">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
