@model Conferences.Conference

@{
    ViewData["Title"] = "Details";
}

<h1>Деталі про конференцію</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Topic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Topic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequirementsForWorks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequirementsForWorks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequirementsForParticipants)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequirementsForParticipants)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Form)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Form.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Organizer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Organizer.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ConferenceId">Редагувати</a> |
    <a asp-action="Index">Повернутись</a>
</div>
