@model IEnumerable<Conferences.Location>

@{
    ViewData["Title"] = "Locations";
}

<h1>Локації</h1>

<p>
    <a asp-action="Create">Створити нову</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LocationId">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.LocationId">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.LocationId">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
